<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach(p => { %>
                    <li>
                        <p><%= p.title %> - <%= p.cartItem.quantity %></p>
                        <form action="/cart-delete-item/<%= p.id %>" method="post">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </li>
                <%})%>
            </ul>
            <form action="/cart-checkout" method="post">
                <button class="btn" type="submit">Order Now!</button>
            </form>
        <% } else { %>
            <h1>No products in Cart!</h1>
        <% } %> %>
        
    </main>

<%- include('../includes/end.ejs') %>