<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (orders.length > 0) { %>
            <ul>
                <% orders.forEach(order => { %>
                    <li>
                        <h1><%= order.id %></h1>
                        <ul>
                            <% order.products.forEach(p => { %>
                                <li>
                                    <p><%= p.title %> - <%= p.orderItem.quantity %></p>
                                </li>
                            <%})%>
                        </ul>
                    </li>
                <%})%>
            </ul>
        <% } else { %>
            <h1>No pending orders!</h1>
        <% } %> %>
        <form action="/cart-checkout" method="post">
            <button class="btn" type="submit">Delete</button>
        </form>
    </main>

<%- include('../includes/end.ejs') %>